body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  display: grid;
  border: 1px cyan solid;
  grid: auto-flow 30vh 30vh/40vw 40vw;
  place-content: space-between end;
}
div img {
  width: 80%;
  height: 80%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 1px red solid;
}
div p {
  border: 1px magenta solid;
  place-self: stretch;
}